{% extends "base.html" %}
{% block content %}
  <div  class="container login-container" id="login" style="width: 40%;">
      <div class="login-form">
        <form class="form-horizontal form" name="LoginForm"  method="post">
          {% csrf_token %}
          {% if next %}
              <input type="hidden" name="next" value="{{ next }}" />
          {% endif %}
          <div class="control-group">
            <input class="form-control mb-4" type="text" id="username" name="username"  placeholder="Username">
          </div>
          <div class="control-group">
            <input class="form-control mb-4" type="password" name="password" id="password" placeholder="Password">
        </div><br>
          <div class="d-flex control-group justify-content-center">
            <button type="submit" class="btn btn-success">Login</button><a href="/accounts/signup"> or sign up</a>
              
          </div>
        </form>
      </div>
  </div>
{% endblock %}