{% extends "base.html" %}

{% block content %}
    <div class="section">
        <!-- container -->
        {% if cart %}
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="clearfix">
                        <div class="section-title">
                            <h3 class="title">Cart List</h3>
                        </div> 
                        <table class="table">
                            <thead>
                            <tr>
                                <th></th>
                                <th class='text-center'>Product</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Quantity</th>
                                <th class="text-right"></th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for rs in cart %}
                                    <tr>
                                        <td class="w-25">
                                            <img src="{{rs.product.image.url}}" class="img-fluid img-thumbnail" alt="product">
                                        </td>
                                        <td class="text-center">
                                            <a href="/product/{{ rs.product.id }}">{{rs.product.name}}</a>  
                                        </td>
                                        <td class="text-center"> {{rs.product.price}}</td>
                                        <td class="qty text-center"><strong>{{rs.quantity}}</strong></td>
                                        <td class="text-center"><a href="/order/deletefromcart/{{ rs.id }}" onclick="return confirm('Delete ! Are you sure?')" class="main-btn icon-btn"><i class="fa fa-close"></i></a></td>
                                    </tr>

                                {% endfor %}
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            
                

            </div>
            <div class="d-flex justify-content-center">
                <a href="/orderproduct/" class="btn btn-success">Order</a>
            </div>
            <!-- /row -->
        </div>
        {% else %}
        <div class="container">
            <h3> There is no cart available</h3>
        </div>
        {% endif %}
        <!-- /container -->
    </div>
    <!-- /section -->

{% endblock content %}