{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for product in product_objects %}
            <div class="col-md-3">
                <div class="card">
                    <img src="{{product.image}}" class="card-img-top">
                    <div class="card-body">
                        {{product.image}}
                        <div class="card-title">
                            {{product.name}}
                        </div>
                        <div class="card-text">
                            {{product.price}}
                        </div>
                        <a href="/{{product.id}}" class="btn btn-warning">View detail</a>
                        <a href="/addtoshopcart/{{product.id}}" class="btn atc btn-warning">Add to cart</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-3 offset-md-4">
                <ul class="pagination">
                    {% if product_objects.has_previous %}
                    <li class="page-item">
                        <a href="?page= {{product_objects.previous_page_number}}">Previous</a>
                    </li>
                    {% endif %}

                    {% if product_objects.has_next %}
                    <li class="page-item">
                        <a href="?page= {{product_objects.next_page_number}}">Previous</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}